body {
}
/* <--this is table properties -->*/
table {
    width: 300px;
    margin: 70px auto;
    border: none;
    border-radius: 15px 15px 10px 10px;
    background: #3a362d94;
    padding: 30px 10px;
    box-shadow: 1px -4px 8px 1px black inset;
}
/*     <!-- this is section header --> */
table tr
{
    text-align:center;
}

#input,#result
{
    width:89%;
    text-align:right;
    padding:14px;
    border:none;
    margin-left:3px;
    margin-right:3px;
    font-size:20px;
    outline:none;
    
    }
#input
{
    box-shadow:2px 4px 5px black;
    border-radius:5px 5px 0px 0px;
}
#result {
    box-shadow: 2px 4px 4px black;
    border-radius: 0px 0px 5px 5px;
}
/*  <!-- this is section calcu -->*/
input[type="button"] {
    width: 64px;
    font-family: Arial;
    font-size: 30px;
    height: 60px;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
    background: none;
    background: #edebec;
    outline: none;
}
    input[type="button"]:last-child {
        background: #f5a34d;
        color:white;
    }
    input[type="button"]:hover {
        background: #cbcbcb;
        cursor: pointer;
        outline: none;
    }